# Core scientific stack
numpy
pandas
matplotlib
seaborn

# Machine Learning
scikit-learn
xgboost
imblearn

# Model export / interoperability
onnx
skl2onnx
gdown


# String matching
rapidfuzz
fuzzywuzzy

# Excel I/O
openpyxl
joblib

# Web API
fastapi
uvicorn
pydantic
gunicorn

# Dev / Notebook
jupyter

# Translator
deep-translator
